# The following sources were used:
# [1] tj-actions. (2022). README.md. [Code] 
# https://github.com/tj-actions/changed-files
#
# [2] Andrew. (2020). Unix & Linux Script. [Code]
# https://unix.stackexchange.com/questions/47584/in-a-bash-script-using-the-conditional-or-in-an-if-statement
#
# [3] https://stackoverflow.com/questions/4181703/how-to-concatenate-string-variables-in-bash
#
# [4] https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions
#

name: CODEOWNER File Deletion Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  check_for_file_delete:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
          fetch-depth: 0

    - name: Get Files that cannot be deleted
      id: required-files
      uses: tj-actions/changed-files@v16
      with:
        files: |
          build.sbt
          project/plugins.sbt
    
    - name: If deleted files exist, create file string
      id: string-files
      if: steps.required-files.outputs.only_deleted == 'false'
      run: |
        a=""
        for file_name in ${{ steps.required-files.outputs.other_deleted_files }}; do
          a="${a}|${file_name}"
          echo "${a}" 
        done
        echo "::set-output name=file_list::${a}"

    - name: If deleted files exist, find if the files are declared
      id: declared-files
      if: steps.required-files.outputs.only_deleted == 'false'
      uses: ./python_actions
      with: 
        FILES: ${{steps.string-files.outputs.file_list}}
        